<html ng-app = 'Credo'>
	<head>
		<title> Credo Task App </title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<script>
			var Credo = angular.module('Credo', []);
		</script>
        <script type="text/javascript" src="./js/controllers/indexController.js"></script>
    	<script type="text/javascript" src="./js/factories/indexFactory.js"></script>
	</head>
	<body ng-controller = 'indexController'>
		<div class = 'container'>
			<h1> Simple Task Manager </h1>
			<div id = 'tasks'>
				<div class = 'list'>
					<table class="bordered">
						<tr>
							<th>Reorder </th>
							<th>Description</th>
							<th>Actions</th>
						</tr>
						<tbody>
							<tr ng-repeat = 'task in tasks | orderBy: "order" track by $index'>
								<td>{{task.order}} &nbsp <button class = 'btn'  ng-if = '$index != 0' ng-click='moveUp(task)'>⇑</button><button class = 'btn'  ng-if = '$index != tasks.length - 1' ng-click ='moveDown(task)'>⇓</button></td>
								<td ng-style = "task.completed === 'completed' ? {'color': 'gray'} : {'color': 'black'}"> {{task.description}}</td>
								<td> <button class = 'btn'  ng-if = "task.completed === 'active'" ng-click = 'openEdit(task)'>Edit</button>
								<button class = 'btn' ng-if = "task.completed === 'active'" ng-click = 'completeTask(task)'>Complete</button>
								<button class = 'btn'  ng-click = 'removeTask(task)'>Remove</button></td>
								
							</tr>
						</tbody>
					</table>
				</div>
				<div ng-if = 'isSelected'>
					<h4> Edit selected task </h4>
					<form>
						New description: <input type = 'text' ng-model = 'editTask.description'>
						<input class = 'btn'  type = 'submit' ng-click = 'updateTask(editTask.description)'>
					</form>
				</div>
				<div class = 'add'>
					<h4> Add a new task</h4>
					<form>
						Task Description: <input type = 'text' ng-model = 'newTask.description'>
						<input class = 'btn'  type = 'submit' ng-click = 'addTask(newTask)'>
					</form>
				</div>
			</div>
		</div>
	</body>